[Desktop Entry]
Version=1.0
Type=Application
X-AWN-Type=Applet
X-AWN-AppletType=Python
Name=CPU Frequency Monitor
Name[bg]=Наблюдение на честотата на процесора
Name[cs]=Monitor frekvence procesoru
Name[de]=CPU-Frequenz-Monitor
Name[es]=Monitor de frecuencia del CPU
Name[eu]=PUZ maiztasunaren monitorea
Name[fi]=Suoritintaajuuden valvonta
Name[fr]=Moniteur de fréquence du processeur
Name[ms]=Pemantau Frekuensi CPU
Name[nl]=CPU Frequentie Monitor
Name[ru]=Индикатор частоты процессора
Name[sv]=Frekvensövervakare för processorer
Name[uk]=Індикатор частоти процесора
Comment=An applet to monitor and control the CPU frequency
Comment[bg]=Аплет за наблюдение и контрол на честотата на процесора
Comment[de]=Ein Applet zur Beobachtung und Überwachung der CPU-Frequenz
Comment[es]=Una miniaplicación para monitorear y controlar la frecuencia del CPU
Comment[eu]=PUZaren maiztasuna gainbegiratu eta kontrolatzeko appleta
Comment[fi]=Sovelma suorittimen taajuuden valvontaan ja hallintaan
Comment[fr]=Un applet pour voir et contrôler la fréquence du processeur
Comment[ja]=CPU周波数の監視と制御のためのアプレット
Comment[ms]=Applet untuk memantau dan mengawal frekuensi CPU
Comment[nl]=Een applet om de frequentie van de CPU in de gaten te houden en aan te passen
Comment[ru]=Апплет для слежения и изменения частоты процессора
Comment[sv]=Ett miniprogram för att övervaka och kontrollera processorfrekvensen
Comment[uk]=Аплет для стеження за частотою процесора, та для її зміни.
Exec=awn-applet -p %k
X-AWN-AppletExec=cpufreq/cpufreq.py
Icon=cpufreq/cpufreq
X-AWN-AppletCategory=Utility
